/* Typoograhy{
} */
.typo:hover{
    color:#1c6484;
}

.feedback { 
	transition: all .2s ease-in-out; 
}
.feedback:hover {
    transform: scale(1.2);
}

.hidden{
    display: none; 
   
    
}
.dental:hover .box{
    animation-name: moveInleft;
    animation-duration: 2s;
}
.box:hover  .hidden{
    display: block;
}


.box:hover .title{
    display: none;
}

.text1{
    
    animation-name: moveInleft;
    animation-duration: 3s;
}

 .text2{
    animation-name: moveInRight;
    animation-duration: 3s;

}
.incubator{
    width: 10rem;
}

@media only screen and (min-width: 768px) {
    .incubator{
        width: 10rem;
    }
}

@media only screen and (min-width: 900px) {
    .incubator{
        width: 13rem;
    }
}

@media only screen and (min-width: 1024px) {
    .incubator{
        width: 19rem;
    }
}

@media only screen and (max-width: 600px) {
    .incubator{
        width: 4rem;
    }
}

.blue:hover{
    box-shadow: 0px 30px 40px -20px blue;
}

.red:hover{
    box-shadow: 0px 30px 40px -20px red;
}
.green:hover{
    box-shadow: 0px 30px 40px -20px green;
}
.brown:hover{
    box-shadow: 0px 30px 40px -20px brown;
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }

}